.card {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
}
.content {
  flex: 1;
  min-width: 100px;
}
.content h3 {
  font-size: 1rem;
}
.content p {
  font-size: 0.75rem;
}
